* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

/* ------fonts------ */

@font-face {
  font-family: "signika-light";
  src: url(./Assets/fonts/Signika-Light.ttf);
}

@font-face {
  font-family: "signika-medium";
  src: url(./Assets/fonts/Signika-Medium.ttf);
}

@font-face {
  font-family: "signika-bold";
  src: url(./Assets/fonts/Signika-Bold.ttf);
}

:root {
  --font-signika-light: "signika-light";
  --font-signika-medium: "signika-medium";
  --font-signika-bold: "signika-bold";
  --color-primary: #23238e;
  --color-secondary: #5267d4;
}

/* ------styles------ */

body {
  background-color: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(./Assets/images/bc.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
.new-nav {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: var(--font-signika-medium);
}
nav .fas {
  font-size: 20px;
}
nav ul {
  background: var(--color-primary);
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.4s;
}
nav ul li {
  display: block;
  margin: 24px;
}
nav ul li a {
  color: #fff;
}
nav ul .fas {
  position: absolute;
  top: 24px;
  left: 24px;
  cursor: pointer;
}
.logo-text {
  font-family: var(--font-signika-bold);
  font-size: 2rem;
}
.header-text {
  margin-top: 30%;
  font-family: var(--font-signika-medium);
}
.header-text h2 {
  line-height: 50px;
}

/* ------about me------ */

#about {
  color: #ababab;
}
#about .container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__text {
  flex-basis: 100%;
  font-family: var(--font-signika-light);
  font-size: 1rem;
}
.about__text p {
  margin-top: 10px;
  line-height: 26px;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: 22px;
  transition: 0.4s;
  border-radius: 4px;
}
.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: var(--color-secondary);
  display: inline-block;
  margin-bottom: 6px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* ------portfolio------ */

#portfolio {
  padding: 30px 0;
  font-family: var(--font-signika-light);
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.6s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--color-primary));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.6s;
}
.layer h3 {
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: var(--color-secondary);
  font-size: 18px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--color-secondary);
  padding: 14px 50px;
  border-radius: 6px;
  color: #fff;
  transition: 0.6s;
}
.btn.btn2 {
  display: inline-block;
  background: var(--color-secondary);
}
.btn:hover {
  background-color: var(--color-primary);
}

/* ------Contact------ */

.row {
  font-family: var(--font-signika-light);
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left i {
  color: var(--color-secondary);
  margin-right: 14px;
  font-size: 22px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  margin-right: 16px;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  transform: translateY(-4px);
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 14px;
  margin: 14px 0;
  color: #fff;
  font-size: 1rem;
  border-radius: 6px;
  resize: none;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}
.header-text h2 {
  font-size: 2rem;
}
.tab-links {
  margin-right: 20px;
}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

/* ------------------------------------------------ */

@media (min-width: 425px) {
  .header-text__br {
    display: none;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  nav {
    display: none;
  }
  .new-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;
  }
  .new-nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-family: var(--font-signika-light);
  }
  .new-nav ul li a {
    color: #fff;
    position: relative;
  }
  .new-nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #525dd5;
    position: absolute;
    left: 0;
    top: 22px;
    transition: 0.4s;
    border-radius: 4px;
  }
  .new-nav ul li a:hover::after {
    width: 100%;
  }
  .logo-text {
    font-size: 2.6rem;
  }
  .header-text p {
    font-size: 1.4rem;
  }
  .header-text h2 {
    font-size: 3rem;
  }
  .about__text {
    flex-basis: 100%;
    font-size: 1.2rem;
  }
  .tab-contents ul li {
    font-size: 1.1rem;
  }
  .tab-contents ul li span {
    font-size: 1.2rem;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .contact-left,
  .contact-right {
    flex-basis: 50%;
  }
}
